/* GENERAL STYLE */
* {
    box-sizing: border-box;
}

body {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

/* HEADER */

header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(49, 64, 81);
    height: 5rem;
}

.header_container {
    height: 100%;
    width: 100%;
}

nav {
    height: 100%;
    width: 100%;
}

.nav_row {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.nav_col {
    height: 100%;
}

nav h2 {
    font-size: 1.3rem;
    white-space: nowrap;
    font-weight: 600;
}

nav i {
    color: rgb(133, 131, 130);
    border: solid 1px rgb(219, 219, 220);
    border-radius: 5px;
    font-size: 1.5rem;
    width: fit-content;
    padding: 0.5rem 1rem;
}

/* MAIN */

main {
    margin-top: 5rem;
}

/* SECTION 1 */

.sec1, .sec2, .sec3, .sec4, .sec5, .footer_container  {
    height: auto;
    padding: 3rem 5rem;
}

.sec1{
    background-color: rgb(26, 188, 156);
}

.sec1 img {
    width: 30%;
}

.sec1 .line {
    width: 100px;
    background-color: white;
    height: 5px;
    flex: 0 0 0;
}

/* SECTION 2 */

.sec2 h1,
.sec2 h2{
    color: black;
}

.sec2 img {
    max-width: 20rem;
}

/* SECTION 3 */

.sec3 {
    background-color: rgb(26, 188, 156);
}

.sec3 .download a {
    border: 1px solid white;
    border-radius: 5px;
    padding: .5rem;
    width: fit-content;
}

/* SECTION 4 */

.sec4 h4,
.sec4 hr{
    color: black;
}

.sec4 .btn {
    color: white;
    background-color: rgb(59, 187, 156);
    padding: .5rem;
    border-radius: 5px;
    width: fit-content;
    margin-top: 1rem;
}

/* SECTION 5 */

.sec5 {
    background-color: rgb(58, 84, 109);;
}

.sec5 h3 {
    font-size: 1rem;
}

#boot {
    color:rgb(59, 187, 156);
}
/* FOOTER */

.footer_container {
    background-color: rgb(44, 62, 80);
}


